@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

:root {
    --cor0: #A26727;  
    --cor1: #481D13;
    --cor2: #261916;
    --cor3: #603f1b;
    --cor4: #dbb48d;
    --cor5: #efb274;
}

html, body {
    background-color: var(--cor1);
    background-attachment: fixed;
    font: normal 500 13px Arial;
    position: relative;
    width: 100vw;
    height: 100vh; 
}

section {
    border-radius: 20px;
    width: 250px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

div#img {
    background: var(--cor1) url(../imagens/img-celular.jpg) no-repeat;
    background-position: center center;
    background-size: cover;
    width: 250px;
    height: 205px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

div#form {
    background-color: white;
    margin: auto;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    text-align: center;
    padding: 10px;
    height: 310px;
}

div > h1 {
    font-size: 24px;
    padding-bottom: 10px;
}

div > p#text {
    text-align: left;
    line-height: 16px;
}

p {
    margin: 5px 0px;
    border-radius: 8px;
}

input {
    background-color: var(--cor4);
    border: 1px solid black;
    font-size: 15px;
}

span {
    color: white;
}

div p#email {
    background-color: var(--cor1);
    height: 40px;
    width: 230px;
    position: relative;
    border: 1px solid black;
}

span#account {
    font-size: 30px;
    padding-top: 6px;

    position: absolute;
    top: 44%;
    left: 8%;
    transform: translate(-50%, -50%);
}

input#idemail {
    height: 26px;
    width: 180px;
    border-radius: 10px;
    padding: 5px;
    border: 0px;

    position: absolute;
    top: 50%;
    left: 58%;
    transform: translate(-50%, -50%);
}

div p#senha {
    background-color: var(--cor1);
    height: 40px;
    width: 230px;
    position: relative;
    border: 1px solid black;
}

span#key {
    font-size: 30px;
    padding-top: 6px;

    position: absolute;
    top: 44%;
    left: 8%;
    transform: translate(-50%, -50%);
}

input#idsenha {
    height: 26px;
    width: 180px;
    border-radius: 10px;
    padding: 5px;
    border: 0px;

    position: absolute;
    top: 50%;
    left: 58%;
    transform: translate(-50%, -50%);
}

input#entrar {
    background-color: var(--cor0);
    color: white;
    font-size: 16px;
    width: 230px;
    height: 38px;
    border-radius: 8px;
    cursor: pointer;
}

input#entrar:hover {
    background-color: var(--cor3);
}

a#esqsen {
    display: block;
    color: var(--cor3);
    font-size: 16px;
    text-decoration: none;

    background-color: white; 
    border-radius: 8px;
    border: 1px solid var(--cor0);
    height: 26px;
    cursor: pointer;
    padding-top: 10px;
}

a#esqsen:hover {
    background-color: var(--cor5);
}

span#esqueci {
    color: var(--cor3);
    font-size: 13px;
}