@charset "UTF-8";

/* CONFIGURAÇÕES ESTILOS GERAIS(first mobile) */


/* REGRAS DO SITE */

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

/* VARIÁVEIS DO SITE(cores) */

:root {
    --cor0: #A26727;  
    --cor1: #481D13;
    --cor2: #261916;
    --cor3: #603f1b;
    --cor4: #dbb48d;
    --cor5: #efb274;
}

/* CONFIGURAÇÕES DO CORPO SITE */

body, html {
    background-image: linear-gradient(to bottom, var(--cor0), var(--cor2));
    width: 100vw;
    height: 100vh;
}

/* CONTAINER DO CONTEÚDO DO SITE */

main {
    position: relative;
    width: 100vw;
    height: 100vh;
}

section {
    background-color: white;
    border-radius: 20px;
    width: 250px;
    height: 515px;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.556);
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: width 0.3s, heigth 0.3s;
    transition-timing-function: ease;
}

/* CONTEÚDO DO SITE: */


/* IMAGEM DO SITE */

section > div#img {
    background: var(--cor0) url(../imagens/img-celular.jpg) no-repeat;
    background-position: center center;
    background-size: cover;
    height: 200px;
    display: block;
}

/* ANTES DO FORMULÁRIO DO SITE */

section > div#form {
    padding: 10px;
    display: block;
}

div#form > h1 {
    text-align: center;
    margin-bottom: 10px;
}

div#form > p {
    font-size: 0.8em;
}

/* FORMULÁRIO DO SITE */

form > div.campo {
    background-color: var(--cor1);
    height: 40px;
    width: 100%;
    display: block;
    border-radius: 8px;
    margin: 5px 0px;
    border: 2px solid var(--cor1);
}

/* E-MAIL E SENHA */

div.campo > span {
    color: white;
    font-size: 2em;
    width: 40px;
    padding: 5px;

    transform: translateY(-2px);
}

div.campo > input {
    background-color: var(--cor4);
    border: 0px;
    font-size: 1em;
    height: 100%;
    width: calc(100% - 44.5px);
    padding: 4px;
    border-radius: 8px;

    transform: translateY(-12px);
}

div.campo > input:focus-within {
    background-color: white;
}

label {
    display: none;
}

/* BOTÃO 'ENTRAR' */

input#entrar {
    background-color: var(--cor0);
    color: white;
    font-size: 1em;
    width: 100%;
    height: 38px;
    display: block;
    border-radius: 8px;
    cursor: pointer;
    border: none;
}

input#entrar:hover {
    background-color: var(--cor3);
}

/* BOTÃO 'ESQUECI A SENHA' */

a#esqsen {
    background-color: white;
    color: var(--cor3);
    font-size: 1em;
    text-align: center;
    text-decoration: none;
    display: block;
    border-radius: 8px;
    border: 1px solid var(--cor0);
    height: 39px;
    cursor: pointer;
    padding-top: 6px;
    margin-top: 5px;
}

a#esqsen:hover {
    background-color: var(--cor5);
}

span#esqueci {
    color: var(--cor3);
    font-size: 13px;
}